/* ========
	Global
   ======== */

*
{
	box-sizing: border-box;
}

html
{
	height: 100vh;
}

body
{
	font-family: "Red hat text";
	font-size: 14px;
	margin: 0;
	height: 100%;
	background-color: #1e1f29;
	background-image: url("images/bg-stars.svg");
	background-repeat: repeat;
	text-align: center;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}

/* ========
	Banner
   ======== */

header
{
	grid-row: 1/2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

h1
{
	color: white;
   	font-size: 1.5em;
   	letter-spacing: 0.3em;
}

/* =======
	Timer
   ======= */

main
{
	grid-row: 2/4;
	align-self: center;
}

.timer
{
	display: flex;
	justify-content: space-evenly;
}

	/* ============
		Timer card
	   ============ */

	.card
	{
		width: 20%;
		padding-top: 18%;
		background-color: #1e1f29;
		position: relative;
		border-radius: 7px;
		box-shadow: 0 10px 3px #191a24;
	}

	.card-top
	{
		height: 50%;
		bottom: 50%;
		border-radius: 7px 7px 0 0;
		background-color: #31324b;
	}

	.card-bottom
	{
		height: 50%;
		bottom: 0;
		border-radius: 0 0 7px 7px;
		background-color: #343650;
	}

	.card-top, .card-bottom
	{
		position:absolute;
		width: 100%;
		overflow: hidden;
	}

	.card-top p
	{
		top: 25%;
		color: #a84b6c;
	}

	.card-bottom p
	{
		bottom: 25%;
		color: #FB6087;
	}

	.card-top p, .card-bottom p
	{
		position: absolute;
		width: 100%;
		font-size: 10vw;
		margin: 0;
	}

		/* ====================
			Timer card overlay
		   ==================== */

		.card-overlay, .card-overlay-front, .card-overlay-back
		{
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
		}

		.card-overlay
		{
			transform-style: preserve-3d;
		}

		.card-overlay-back
		{
			transform: rotateX(180deg);
			transform-style: preserve-3d;
		}

		.card-overlay-front-top, .card-overlay-back-top
		{
			position: absolute;
			width: 100%;
			height: 50%;
			overflow: hidden;
			transform-style: preserve-3d;
			backface-visibility: hidden;
		}

		.card-overlay-front-top
		{
			background-color: #31324b;
			border-radius: 7px 7px 0 0;
		}

		.card-overlay-back-top
		{
			bottom: 0%;
			background-color: #343650;
			border-radius: 0 0 7px 7px;
		}

		.card-overlay-front-top p, .card-overlay-back-top p
		{
			position: absolute;
			width: 100%;
			font-size: 10vw;
			margin: 0;
		}

		.card-overlay-front-top p
		{
			top: 25%;
			color: #a84b6c;
		}

		.card-overlay-back-top p
		{
			bottom: 25%;
			color: #FB6087;
		}

			/* ========================
			    Overlay flip animation
			   ======================== */

			   .animation
				{
					animation: flip 1s infinite;
				}

				@keyframes flip
				{
					0%		{transform: rotateX(0deg);}
					100%	{transform: rotateX(180deg);}
				}

.card-binding-left, .card-binding-right
{
	width: 3%;
	height: 8%;
	position: absolute;
	bottom: 46%;
	background-color: #1e1f29;
}

.card-binding-left
{
	border-radius: 0 100px 100px 0;
}

.card-binding-right
{
	left: 97%;
	border-radius: 100px 0 0 100px;
}

.card-label
{
	position: absolute;
	color:  #8486a9;
	width: 100%;
	margin-top: 5px;
	letter-spacing: 1vw;
	font-size: 2vw;
}


/* ========
	Footer
   ======== */

footer
{
	grid-row: 4/5;
	background-image: url("images/pattern-hills.svg");
	background-position: top right;
	background-size: cover;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a
{
	color: #3E52A3;
}

	/* ===============================
		Footer - Social media buttons
	   =============================== */

	.smedia
	{
		display: flex;
		justify-content: center;
	}

	.button
	{
		cursor: pointer;
		margin: 12px;
	}

	.button svg:hover path
	{
		fill: #FB6087;
		transition: 0.7s;
	}

/* =================================
	Adjustments for desktop version
   ================================= */

@media screen and (min-width: 1000px)
{
	body
	{
		background-size: auto;
	}

	/* =======
		Timer
	   ======= */

	.timer
	{
		width: 48%;
		margin-left: auto;
		margin-right: auto;
	}

	.card-top p, .card-overlay-front-top p
	{
		font-size: 5vw;
		top: 22%;
	}

	.card-bottom p, .card-overlay-back-top p
	{
		font-size: 5vw;
		bottom: 22%;
	}

	.card-label
	{
		letter-spacing: 0.5vw;
		font-size: 1vw;
	}

}